.navbar{
  padding: 10px;
  background-color: rgb(233,224, 222);
}
.search{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.content{
  display: flex;
  justify-content: center;
}


li{
  list-style: none;
}

